body {
    font-family: Tisa;
    background-image: url("tenor.gif");
    background-size: auto;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  table {
    width: 700px;
    border: 1px solid black;
  }

  th {
    color: blue;
    font-weight: bold;
    font-size: 30px;
    background-color: white;
    padding: 10px;
  }

  table td {
    color: white;
    text-shadow: 1px 1px 2px black;
  }

  #profile-pic-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
  }

  #slideshow-image {
    transition: opacity 0.5s ease-in-out;
  }

  /* Hide additional details by default */
  #more-details {
    display: none;
    margin-top: 10px;
  }

  /* Style for the "Show More" button */
  #show-more-btn {
    background-color: lightblue;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }

  #show-more-btn:hover {
    background-color: darkblue;
  }